// Place all the styles related to the Reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map {
  height: 600px;
  width: 600px;
  float: right;
}

.index_img {
  align-items: center;
  float: left;
}

.show_img {
  float: left;
  height: 200px;
  width: 113px;
}
