h2 {
  color: #0088cc;
}

h3 {
  color: #0088cc;
}

h4 {
  color: #0088cc;
}

p {
  color: #0088cc;
}

a:hover {
  color: black;
  text-decoration: none;
}

.show_report_block {
  border: solid;
  border-color: gray;
  border-width: 0.25em;
  background-color: #f2f2f2;
  margin-right: 4em;
  padding-left: 10em;
  color: #0088cc;
}
