<ul>
    <h4><li>Address: <%= link_to "#{report.address}", report_path(report) %></li></h4>
    <h4><li>Description: <%= report.description  %></li></h4>
    <h4><li>Status: <%= statusName(report.status) %></li></h4>
    <br>
    <br>
</ul>
